* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

header {
    background-color: #152237;
    max-width: 100%;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: white;
    }

    img {
        width: 180px;
        padding-left: 80px;
    }

    input {

        width: 500px;
        max-width: 600px;
        padding: 10px 10px;
        border: 2px solid #ffffff;
        border-radius: 10px;
        background-color: #152237;
        color: #ffffff;
        outline: none;
        font-size: 15px;
    }


    .search-input:focus {
        border-color: #ffffff;
        box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
    }

}


.container-1600 {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    max-width: 100%;
}

.btn1 {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #152237;
    background-color: white;
    text-decoration: none;
}

.btn2 {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 5px;
    color: #152237;
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    text-decoration: none;
}

.hero{
    background-repeat: no-repeat;
    min-height: 60vh;
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
    background-image: url("bg-header.png");
    background-size: cover;
    background-position: center;
}


.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #44dd8a 0%, #15b7e2 100%);
  opacity: 0.8;
  z-index: 0;
}

.hero > *{
    position: relative;
    z-index: 1;
}


