* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;

}

header {
    background-color: #152237;
    height: 9vh;
    align-content: center;
}

.flex {
    display: flex;
    flex-wrap: wrap;
}

.between {
    justify-content: space-between;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;

    p {
        color: white;
    }

    img {
        width: 180px;
        padding-left: 80px;
    }

    input {
        padding: 12px 16px;
        width: 400px;
        border: 2px solid white;
        border-radius: 10px;
        outline: none;
        background-color: #152237;
        color: #FFFFFF;
        font-size: 16px;
        transition: border-color 0.3s ease, box-shadow 0.3s ease;
        margin-right: 20px;
    }

    #searchBar {
        display: flex;
        align-items: center;
        position: relative;
        width: 477px;

        i {
            position: absolute;
            right: 100px;
            color: #FFFFFF;
            pointer-events: none;
        }
    }
}

input::placeholder {
    color: white;
    font-weight: 200;

}


.search-input:focus {
    border-color: #ffffff;
    box-shadow: 0 0 8px rgba(255, 255, 255, 0.6);
}




.container-1600 {
    max-width: 1600px;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
    max-width: 100%;
}

.btn1 {
    margin-right: 15px;
    padding: 10px 15px;
    border-radius: 6px;
    color: #152237;
    background-color: white;
    border-radius: 6px;
    color: #152237;
    background-color: white;
    text-decoration: none;

}

.btn2 {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    color: #152237;
    background: #44DD8A;
    background: linear-gradient(90deg, rgba(68, 221, 138, 1) 19%, rgba(21, 183, 226, 1) 100%);
    text-decoration: none;
}

.hero {
    background-repeat: no-repeat;
    width: 100%;
    height: 450px;
    background-size: cover;
    position: relative;
    background-image: url("bg-header.png");
    background-size: cover;
    background-position: center;
}


.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(90deg, #44dd8a 0%, #15b7e2 100%);
    opacity: 0.8;
    z-index: 0;
}

.hero>* {
    position: relative;
    z-index: 1;
}

.hero h2 {
    font-weight: 800;
    font-size: 48px;
    line-height: 100%;
    letter-spacing: -1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    margin: 0;
    color: #152237;
    height: 59px;
    top: 149px;



}

.hero h1 {
    width: 711px;

    font-weight: 500;
    font-style: medium;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: -1.5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    height: 24px;
    top: 150px;
    text-transform: uppercase;
    left: 484px;


}

.btn3 {
    margin-right: 10px;
    padding: 10px 15px;
    border-radius: 6px;
    color: #152237;
    background-color: white;
    text-decoration: none;
    height: 34px;
    top: 180px;
    left: 775px;
    width: 130px;
    height: 40px;

}

.populaires h3 {
    font-size: 36px;
    color: #152237;
    font-weight: 900;
    letter-spacing: -1.5%;

}

.card {
    width: 320px;
    position: relative;

    img {
        width: 100%;
    }

    h4 {
        color: #152237;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -1.5%;
        line-height: 36px;
        margin-top: 10px;


    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0%;
        margin-top: 5px;
        margin-bottom: 5px;



    }
}

.container-1500 {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.btn4 {
    padding: 10px 20px;
    border-radius: 6px;
    color: white;
    background-color: #152237;
    text-decoration: none;
    margin-top: 30px;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.recent .container-1700 h3 {
    font-size: 36px;
    color: white;
    font-weight: 900;
    letter-spacing: -1.5%;
}

.container-1700 {
    max-width: 1500px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 16px;
}

.recent {
    background-color: #152237;
    margin-top: 70px;
    height: auto;
}

.card2 {
    width: 320px;
    position: relative;

    .price-tag {
        background-color: #fff;
        p {
            color: #152237;
        }
    }

    img {
        width: 100%;
    }

    h4 {
        color: white;
        font-weight: 700;
        font-size: 24px;
        letter-spacing: -1.5%;
        line-height: 36px;
        margin-top: 10px;


    }

    p {
        font-weight: 400;
        font-size: 16px;
        line-height: 18px;
        letter-spacing: 0%;
        margin-top: 5px;
        margin-bottom: 5px;
        color: white;


    }
}


.btn6 {
    padding: 10px 20px;
    border-radius: 6px;
    color: #152237;
    background-color: white;
    text-decoration: none;

}

.container2 {
    display: flex;
    align-items: center;
    justify-content: center;
}

.avis {
    height: 567px;

    h3 {
        text-transform: uppercase;
        font-family: Montserrat;
        font-weight: 900;
        color: #152237;
        font-size: 40px;
        line-height: 36px;
        letter-spacing: -1.5%;
        text-transform: uppercase;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 58px;

    }
}

.price-tag {
    position: absolute;
    right: 15px;
    top: 200px;
    width: 90px;
    padding: 2px;
    border-radius: 93px;
    background-color: #152237;
    color: #ffffff;
    display: flex;
    margin-left: auto;

}

.price {
    letter-spacing: -1.5%;
    color: white;
    font-weight: bold;

}

.old_price {
    color: rgba(255, 255, 255, 0.7);
    font-family: Montserrat, sans-serif;
    color: #ffffff;
    font-weight: 400;

    font-size: 10px;
    line-height: 7px;
    letter-spacing: -1.5%;
    text-decoration: line-through;

}


.avis .juliette {

    h4 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        color: #152237;
        line-height: 36px;
        letter-spacing: -1.5%;

    }

    p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -1.5%;

    }
}

.avis .camille {


    h4 {
        font-family: Montserrat;
        font-weight: 700;
        font-size: 24px;
        color: #152237;
        line-height: 36px;
        letter-spacing: -1.5%;

    }

    p {
        font-family: Montserrat;
        font-weight: 400;
        font-size: 16px;
        line-height: 30px;
        letter-spacing: -1.5%;

    }

}

.avis {
    display: flex;
    justify-content: space-around;
    padding: 100px;
    font-size: 40px;

    img {
        border-radius: 100px;
    }
}

.avis .etoile3 {
    font-size: 20px
}

.avish3 h3 {
    text-transform: uppercase;
    font-family: Montserrat;
    font-weight: 900;
    color: #152237;
    font-size: 40px;
    line-height: 36px;
    letter-spacing: -1.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 58px;

}


.avantages {

    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 50px;
    letter-spacing: 1px;
    text-align: start;
    position: relative;
    bottom: 420px;
    margin-left: 90px;
    list-style-type: none;



}

.avantagesh3 {

    font-family: Montserrat;
    font-weight: 900;

    font-style: normal;
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    position: relative;
    margin-left: 90px;
    color: #152237;
    top: 70px;

}




.klivio2 {
    background-color: #F5F5F5;
    width: 100%;
    opacity: 1;
    left: 1px;
}


.imgavan {
    margin-top: 76px;
    margin-left: 950px;

}

.cree {
    background-color: #44DD8A;
    height: 641px;
    opacity: 1;
    left: 1px;

    img {
        margin-left: 55px;
    }
}

.creeformation {

    font-family: Montserrat;
    font-weight: 900;

    font-style: normal;
    font-size: 35px;
    line-height: 1.5;
    letter-spacing: -1.5px;
    text-transform: uppercase;
    position: relative;
    margin-left: 912px;
    color: #152237;
    top: 75px;

}

.listcree {
    font-family: Montserrat;
    font-weight: 400;
    font-size: 20px;
    line-height: 40px;
    letter-spacing: -1.5px;
    text-align: start;
    position: relative;
    bottom: 400px;
    margin-left: 850px;
    list-style-type: none;

    li {
        display: flex;
        align-items: start;
    }

}

.aapropos {
    width: 100%;
    display: flex;


    .proposh3 {

        font-style: Black;
        font-size: 40px;
        text-transform: uppercase;
    }

    p {
        font-size: 18px;
        text-align: left;

    }

    .apropos {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: self-start;
        justify-content: center;
        margin-left: 50px;

        h3 {
            margin-bottom: 20px;
            color: #152237;
        }
    }

    .logo_kli {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
        background-color: #152237;
        padding: 250px;

    }
}

.contact {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Montserrat;
    font-weight: 900;
    font-style: Black;
    font-size: 35px;
    line-height: 36px;
    letter-spacing: -1.5%;
    text-transform: uppercase;
    color: #152237;
    margin-top: 50px;

}

.formulair {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
        font-weight: 900;
        font-style: Black;
        font-size: 40px;
        line-height: 36px;
        letter-spacing: -1.5%;
        text-transform: uppercase;
        text-align: center;
        padding: 2em;
    }

    form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 80%;

        textarea {
            width: 100%;
            background-color: #152237;
            color: #ffffff;
            height: 194px;
            padding: 1em;
        }

        .submit {

            border-radius: 5px;
            color: #152237;
            width: 350px;
            background-color: #44dd8a;
            text-align: center;
            padding: 8px;
            margin: 50px;
            text-decoration: none;

        }



        div {

            display: flex;
            justify-content: space-between;
            width: 100%;

            input {

                width: 600px;
                border: #ffffff solid 1px;
                background-color: #152237;
                color: #ffffff;
                padding: 10px;
                margin-bottom: 50px;
            }

            input::placeholder {
                color: #ffffff;
            }
        }

        textarea::placeholder {
            color: #ffffff;
        }
    }

}

.rect {
    width: 1800px
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 5em 3em 0 3em;
    background-color: #152237;

    .topFooter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        .logo {
            width: 15%;
            margin-right: 100px;
        }

        .info {
            display: flex;

            /* position: absolute;
            top: 40px;
            left: 550px; */
            .legal {
                display: flex;
                flex-direction: column;
                width: 300px;
                margin-left: 50px;

                h4 {
                    text-align: center;
                    color: #fff;
                    font-size: 18px;
                    text-transform: uppercase;
                }

                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                    list-style: none;

                    a {
                        color: #fff;
                        text-decoration: none;
                    }
                }
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 0;

                li {
                    display: flex;
                    align-items: center;
                    justify-content: start;

                    img {
                        padding-right: 0.5em;
                    }

                    h4 {
                        font-size: 18px;
                        color: #fff;
                    }

                    p {
                        font-size: 15px;
                        font-weight: 400;
                        line-height: normal;
                        color: #fff;

                        a {
                            text-decoration: none;
                            color: #fff;
                        }
                    }
                }

                .liTitle {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }

            }
        }

        .btn70 {
            display: flex;
            flex-direction: column;
            margin-left: 300px;
        }

    }

    .spacer {
        display: flex;
        width: 80%;
        height: 2px;
        background-color: #44DD8A;
        margin: 4em 0;
    }
}

.left {
    color: white;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -1.5%;
    margin-left: 96px;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 16px 24px;
margin-bottom: 250px;

}

.social {


    color: white;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -1.5%;

    display: flex;
    align-items: center;
    gap: 

}






.bottomFooter .social {
    display: flex;
    align-items: center;
    gap: 12px;
    color: white;
}

.bottomFooter .icons {
    display: flex;
    gap: 8px;
}

.bottomFooter .icons img {
    display: block;
    width: 24px;
}




@media (max-width: 992px) {

    
    .card,
    .card2 {
        width: 45%;
        margin: 0 auto;
    }

    .populaires .container-1500.flex,
    .recent .container-1700.flex {
        flex-wrap: wrap;
        justify-content: center;
        gap: 20px;
    }

    
    .klivio2 {
        width: 100%;
        height: auto;
        padding-bottom: 40px;
    }

    .avantages {
        bottom: 0;
        margin-left: 20px;
    }

    .imgavan {
        margin-left: 0;
        max-width: 400px;
    }

    
    .cree {
        height: auto;
    }

    .listcree {
        bottom: 0;
        margin-left: 20px;
    }

    .creeformation {
        margin-left: 20px;
        top: 0;
    }
}


@media (max-width: 768px) {


    nav {
        flex-wrap: wrap;
        justify-content: center;
        gap: 10px;
    }

    nav img {
        padding-left: 0;
        width: 140px;
    }

    #searchBar {
        width: 100%;
        max-width: 300px;
    }

    .card,
    .card2 {
        width: 90%;
        max-width: 350px;
    }

    .avis {
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
        text-align: center;
    }

    
    .klivio2 {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .avantagesh3 {
        margin-left: 0;
        text-align: center;
        top: 0;
    }

    .imgavan {
        margin: 20px auto 0 auto;
        max-width: 90%;
    }

    .avantages {
        margin-left: 0;
        bottom: 0;
        text-align: center;
    }

    
    .cree {
        display: flex;
        flex-direction: column;
        height: auto;
        padding: 40px 20px;
    }

    .cree img {
        margin: 0 auto 20px auto;
        max-width: 90%;
    }

    .creeformation {
        margin-left: 0;
        text-align: center;
        top: 0;
    }

    .listcree {
        margin-left: 0;
        bottom: 0;
        text-align: center;
    }

    .listcree li {
        justify-content: center;
    }

    
    .avantages img,
    .listcree img {
        width: 24px;
        height: 24px;
    }


    .footer .topFooter {
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .footer .info {
        flex-direction: column;
        align-items: center;
    }

    .bottomFooter {
        flex-direction: column;
        gap: 10px;
        text-align: center;
    }
}

